@charset "UTF-8";

.floating {
	background-color: #f9f9f9;
	border: 2px solid #000;
	position: fixed;
	right: 50%;
	top: 180px;
	margin-right: -615px;
	text-align: center;
	width: 70px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.floating div:nth-child(1) {
	border: 2px solid #ff3535;
	border-radius: 8px;
}

.floating div:nth-child(2) {
	border: 2px solid #ff3535;
	border-radius: 8px;
}

.floating div:nth-child(3) {
	border: 2px solid #ff3535;
	border-radius: 8px;
}