<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Insert title here</title>

<link href="http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css">

<style>

.main{ width:600px; height:1500px; }

.main_nav{ width: 200px; height:1400px; float:left; border:1px solid black; }

.main_left{ width:200px; height:auto; position:absolute; }

.daycoss{ width:196px; height:98px; border:1px solid black; position:relative; }

.main_right{ width:298px; height:1500px; border:1px solid black; float:left; }

.header{ width:1000px; height:300px; border:1px solid black;}

</style>




</head>

<body>




<div id='main' class='main'>

  <div class='header'></div>

  <div class='main_nav'>

    <div id='main_left' class='main_left'>

    <div id='daycoss_1' class='daycoss'>daycoss_1</div>

  </div> 

  </div>

  <div id='main_right' class='main_right'></div>

</div>




</body>




<!-- 플로팅 배너 -->

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<script>




$(function() {

  $(window).scroll(function() {

   var top = $(window).scrollTop();

   $(".main_left").animate({"top" : top + 50 + "px"}, 30);

  });

  $(".main_left").click(function() { $("html,body").animate({scrollTop:0}, 100); });

 });







</script>

</html>